.cartItemBox {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 5vw;
}
.cartItemImg {
    width: 30%;
    aspect-ratio: 1;

}

.cartItemDetailsBox p {
    margin: 5px;
}

.cartItemDetailsBox h3 {
    margin: 5px;
}