.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    background-color: lightgray;
}

.topHeaderRow {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.middleHeader {
    display: flex;
    align-items: center;
}

.middleHeader * {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-size: larger;
    text-decoration: none;
}
.middleHeader *:hover {
    text-decoration: underline;
}

.middleHeader {
    display: flex;
}

.searchBarBox {
    position: relative;
    width: fit-content;
}
.searchBar:hover {
    text-decoration: none;
}
.searchBar {
    border-radius: 10px;
    height: 5vh;
}

.searchIcon {
    position: absolute;
    right: 2%;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: .7;
}

.searchIconImg {
    height: 100%;
}


.cartLogo {
    height: 40px;
    width: 40px;
}

.cartLogoBox {
    position: relative;
}
.cartLogoBox:hover {
    opacity: .7;
}

.cartNumItemsBubble {
    position: absolute;
    top: 0;
    right: 0;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #ea2300;
    color: white;
    display: grid;
    place-content: center;
    aspect-ratio: 1;
}

.cartHeaderBox {
    padding-right: 2vw;
}
.logoHeaderBox {
    padding-left: 2vw;
}
.logoHeaderBox:hover {
    opacity: .7;
}