.myCartPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12vh;
    padding-left: 10vw;
}

.myCartPage h2 {
    width: 90vw;
}

.cartInfoBox {
    display: flex;
    width: 90vw;
}

.cartBox {
    width: 50%;
    min-height: 40%;
    padding: 10px;
}

.subtotalBox {
    width: 30%;
    min-height: 20%;
    padding: 10px;
}