
.homePage * {
    padding-top: 10vh;
    color: black;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.homePage:hover * {
    cursor: default;
}

.allProductsHomepageLink {
    padding: 0;
}

.allProductsHomepageLink:hover {
    color: gray;
    cursor: pointer;
}
